body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    text-align: center;
}
.header{
    background-color:  #004f44;
    display: flex;
}
.profile,.logo,.search{
    margin-left: 260px;
}
.profile,.search,.pfl,.src{
    margin-top: 30px;
    width: 30px;
}
table{
    text-align: center;
    margin-left: 125px;
}
